@page
@model GitHubRepoSecrets.Pages.Secrets.DetailsModel

@{
    ViewData["Title"] = "Secret Details";
}

<h1>Details</h1>

<div>
    <h4>Secret</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secret.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secret.Name)
        </dd>
        <dt class="col-sm-2">
            Updated At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secret.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo" asp-route-secretName="@Model.Secret.Name">Edit</a> |
    <a asp-page="./Index" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo">Back to List</a>
</div>
