@page
@model GitHubRepoSecrets.Pages.Secrets.IndexModel

@{
    ViewData["Title"] = "Secrets";
}

<h1>Secrets</h1>

<p>
    <a asp-page="Create" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Secrets.Secrets[0].Name)
            </th>
            <th>
                Updated At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Secrets.Secrets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo" asp-route-secretName="@item.Name">Edit</a> |
                <a asp-page="./Details" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo" asp-route-secretName="@item.Name">Details</a> |
                <a asp-page="./Delete" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo" asp-route-secretName="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
