@page
@model GitHubRepoSecrets.Pages.SecretsModel
@{
}
<div>
    <h1 class="display-4">Secrets</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var secret in Model.Secrets.Secrets)
            {
                <tr>
                    <td class="text-nowrap">@secret.Name</td>
                    <td>@secret.UpdatedAt</td>
                    <td>
                        <a class="btn btn-primary" asp-page="/Secrets" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo"><i class="bi bi-key"></i></a>
                        <a class="btn btn-primary" asp-page="/Secrets" asp-route-owner="@Model.Owner" asp-route-repo="@Model.Repo"><i class="bi bi-key"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>